{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  {% load django_bootstrap_breadcrumbs %}
  <body>
  
  <div class="site-wrap">
    {% include 'navbar.html' %}
    
    <div class="container">
      {% include 'search.html' %}
      <div class="py-3 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- {% trans "Category" as category_page_title %}
                <span>{{ category_page_title }}</span> -->
              <h3 class="category-heading">
                <i class="category-cation">{{category_language.name.0}}</i>
                <span class="lifestyle-span"></span>
                {{category_language.name}}
              </h3>
              <!-- <p>{{category_language.category_description}}</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-white">
      <div class="container">
        {% block breadcrumbs %}
            {% breadcrumb "Home" 'home_page_view' %}
            {% breadcrumb category_language.name 'category_view' '{{LANGUAGE_CODE}}/{{category_language.slug}}/' %}
        {% endblock %}
        {% render_breadcrumbs %}
        <div class="row">
          {% if category_language %}
            {% for blog_language in category_blogs %}
              <div class="col-lg-4 mb-4">
                <div class="entry2">
                  <a href="/{{LANGUAGE_CODE}}/{{category_language.slug}}/{{blog_language.blog.slug}}/" class="category-blog-image">
                    <img 
                      src="{{blog_language.blog.thumbnail_image.url}}" 
                      aria-label="{{blog_language.blog.thumbnail_image.alt_tag}}" 
                      alt="{{blog_language.blog.thumbnail_image.alt_tag}}"
                      title="{{blog_language.blog.thumbnail_image.title}}"  
                      class="img-fluid rounded">
                  </a>
                  <div class="excerpt category-blog-desc">
                  {% for blog_category in blog_language.present_category_language %}
                    <span class="post-category text-white bg-secondary mb-3">{{blog_category.name}}</span>
                  {% endfor %}

                  <h2 class="overflow-hiddens"><a href="/{{LANGUAGE_CODE}}/{{category_language.slug}}/{{blog_language.blog.slug}}/">{{blog_language.title}}</a></h2>
                  <div class="post-meta align-items-center text-left clearfix">
                    <figure class="author-figure mb-0 mr-3 float-left"><img src="https://trikonindia-assets.s3.amazonaws.com/media/trikonindia.png" alt="trikonindia.com" class="img-fluid"></figure>
                    <span class="d-inline-block mt-1">By <a href="#">TrikonIndia</a></span>
                    <span>&nbsp;-&nbsp; {{blog_language.created_at}}</span>
                  </div>
                  
                    <p class="overflow-hidden height-80">{{blog_language.description}}...</p>
                    {% trans "Read More" as category_page_blog_helper %}
                    <p><a href="/{{LANGUAGE_CODE}}/{{category_language.slug}}/{{blog_language.blog.slug}}/">{{category_page_blog_helper}}</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="sharethis-inline-follow-buttons mb-3"></div>
        <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              {% for page_number_loop in category_language.total_pages %}
                {% if page_number_loop == page_number %}
                  <span>{{ page_number_loop }}</span>
                {% else %}
                  <a href="?page={{page_number_loop}}">{{page_number_loop}}</a> 
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
  </div>

  {% include 'footer.html' %}
    
  </body>
</html>