{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
    <body>
        <div class="site-wrap">
            {% include 'navbar.html' %}
            <div class="page-wrap d-flex flex-row align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <span class="display-1 d-block">{{status}}</span>
                            <div class="mb-4 lead">{{message}}</div>
                            {% trans "Back to Home" as error_page_1 %}
                            <a href="/" class="btn btn-link">{{ error_page_1 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
