{% load static %}
{% load i18n %}
{% include 'components/newsletter.html' %}
{% get_current_language as LANGUAGE_CODE %}

<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                {% trans "About Us" as footer_about_us %}
                {% trans "Contact Us" as footer_contact_us %}
                {% trans "Connect With Us" as footer_connect_us %}
                <h3 class="footer-heading mb-4">{{ footer_about_us }}</h3>
                {% trans "We authenticate any information we share and dig deeper for really important issues. TrikonIndia has become the most evolved and reliable choice for anyone looking for hyperlocal authentic news in their local language." as footer_about_us_line1 %}
                <p>{{ footer_about_us_line1 }}</p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/{{ LANGUAGE_CODE }}/about-us/" target="_blank">{{ footer_about_us }}</a></li>
                    <li><a href="/{{ LANGUAGE_CODE }}/contact-us/" target="_blank">{{ footer_contact_us }}</a></li>
                </ul>
                {% if categories_languages %}
                    <ul class="list-unstyled float-left">
                        {% for category_language in categories_languages %}
                            <li><a href="/{{ LANGUAGE_CODE }}/{{ category_language.category.slug }}" target="_blank">{{category_language.name}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="footer-heading mb-4">{{ footer_connect_us }}</h3>
                    <p>
                    <a href="https://www.facebook.com/trikonindia/" target="_blank"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                    <a href="https://twitter.com/IndiaTrikon" target="_blank"><span class="icon-twitter p-2"></span></a>
                    <a href="https://www.instagram.com/trikonindia/" target="_blank"><span class="icon-instagram p-2"></span></a>
                    <!-- <a href="#" target="_blank"><span class="icon-rss p-2"></span></a> -->
                    <a href="/{{ LANGUAGE_CODE }}/contact-us/" target="_blank"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% if share_this_display %}
    <script async src="{{constants.SHARE_THIS_API_URL}}"></script>
{% endif %}



<script>
    function submit_subscription() {
        let email_id = document.getElementById("subscribe_email").value
        if(validateEmail(email_id)){
            $.ajax({
                type:"POST",
                url: "/subscribe/",
                data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        email_id: email_id
                },
                success: function(data) {
                    document.getElementById("failed_subscription").classList.remove("d-block");
                    document.getElementById("success_subscription").classList.add("d-block");
                },
                error: function(data) {
                    document.getElementById("success_subscription").classList.remove("d-block");
                    document.getElementById("failed_subscription").classList.add("d-block");
                }
            })
        }else{
            document.getElementById("success_subscription").classList.remove("d-block");
            document.getElementById("failed_subscription").classList.add("d-block");
        }
        return false
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }
</script>