{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  <body>
  
  <div class="site-wrap">
    {% include 'navbar.html' %}
    <!-- Trending Posts -->
    <div class="site-section bg-light">
      {% include 'search.html' %}
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
            <div class="col-12">
              {% trans "Trending Posts" as home_page_title_1 %}
              <!-- <h2>{{ home_page_title_1 }}</h2> -->
              <h3 class="category-heading mb-2">
                <i class="category-cation">{{ home_page_title_1.0 }}</i>
                <span class="lifestyle-span"></span>
                {{ home_page_title_1 }}
              </h3>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2" id="trending_posts">
          {% if trending_blog_languages %}
            {% for trending_blog_language in trending_blog_languages %}
              {% if forloop.counter != 3 %}
                {% if forloop.counter == 1 or forloop.counter == 4 %}
                  <div class="col-md-4">
                {% endif %}
                  <a href="/{{LANGUAGE_CODE}}/{{trending_blog_language.blog.primary_category.slug}}/{{trending_blog_language.blog.slug}}/" 
                      class="h-entry mb-30 v-height gradient" 
                      aria-label="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{trending_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      style="background-image: url({{trending_blog_language.blog.thumbnail_image.url}});">

                    <div class="text image-text">
                      <div class="post-categories mb-2">
                        {% for trending_blog_category in trending_blog_language.present_category_language.all %}
                          <span class="post-category bg-info">{{trending_blog_category.name}}</span>
                        {% endfor %}
                      </div>
                      <h2>{{trending_blog_language.title}}</h2>
                      <!-- <span class="date">{{trending_blog.created_at}}</span> -->
                    </div>
                  </a>
                {% if forloop.counter == 2 or forloop.counter == 5 %}
                  </div>
                {% endif %}
              {% endif %}
              {% if forloop.counter == 3 %}
                <div class="col-md-4">
                  <a href="/{{LANGUAGE_CODE}}/{{trending_blog_language.blog.primary_category.slug}}/{{trending_blog_language.blog.slug}}/" 
                      class="h-entry img-5 h-100 gradient" 
                      aria-label="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{trending_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{trending_blog_language.blog.thumbnail_image.alt_tag}}"
                      style="background-image: url({{trending_blog_language.blog.thumbnail_image.url}});">
                    
                    <div class="text image-text">
                        <div class="post-categories mb-2">
                          {% for trending_blog_category in trending_blog_language.present_category_language.all %}
                            <span class="post-category bg-danger">{{trending_blog_category.name}}</span>
                          {% endfor %}
                        </div>
                      <h2>{{trending_blog_language.title}}</h2>
                      <!-- <span class="date">{{trending_blog.created_at}}</span> -->
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Recent Posts -->
    <div class="site-section">
      <div class="container">
        <div class="row">
          <span class="anchor-padding" id="recent_posts"></span>
          <div class="col-12">
            {% trans "Recent Posts" as home_page_title_2 %}
            <!-- <h2>{{ home_page_title_2 }}</h2> -->
            <h3 class="category-heading mb-2">
              <i class="category-cation">{{ home_page_title_2.0 }}</i>
              <span class="lifestyle-span"></span>
              {{ home_page_title_2 }}
            </h3>
          </div>
        </div>
        <div class="row">
          {% for recent_blog_language in recent_blog_languages %}
            <div class="col-lg-4 mb-1">
              <div class="entry2 ">
                <a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">
                  <img 
                      src="{{recent_blog_language.blog.thumbnail_image.url}}" 
                      aria-label="{{recent_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{recent_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{recent_blog_language.blog.thumbnail_image.alt_tag}}"
                      class="img-fluid rounded">
                </a>
                <div class="excerpt">
                {% for recent_blog_category in recent_blog_language.present_category_language.all %}
                  <span class="post-category text-white bg-secondary mb-3">{{recent_blog_category.name}}</span>
                {% endfor %}

                <h2 class="overflow-hidden"><a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">{{recent_blog_language.title}}</a></h2>
                <!-- <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">{{recent_blog_language.creator.auth_user.username}}</a></span>
                  <span>&nbsp;-&nbsp;{{recent_blog_language.created_at}}</span>
                </div>
                
                  <p class="overflow-hidden height-200">{{recent_blog_language.description}}</p>
                  {% trans "Read More" as index_page_blog_helper %}
                  <p><a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">{{index_page_blog_helper}}</a></p> -->
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <span>...</span>
              <a href="#">15</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Politics, Economics, Sports Carousel -->
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
              <div class="col-12">
                <!-- <h2>Politics</h2> -->
                <h3 class="category-heading mb-2">
                  <i class="category-cation">{{ politics_category_language.name.0 }}</i>
                  <span class="lifestyle-span"></span>
                  {{ politics_category_language.name }}
                </h3>
              </div>
            </div>
            <div id="politicsCategoryCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for politics_blog_language in politics_category_blog_languages %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active">
                  {% endif %}
                  {% if forloop.counter > 1 %}
                  <div class="carousel-item ">
                  {% endif %}
                    <img class="d-block w-100 h-270" src="{{politics_blog_language.blog.hero_image.url}}" alt="{{ politics_blog_language.blog.hero_image.alt_tag }}">
                    <div class="post-content caro image-text">
                      <div class="entry-title">
                        {% for political_blog_category in politics_blog_language.present_category_language.all %}
                          <a href="/{{LANGUAGE_CODE}}/{{political_blog_category.category.slug}}" class="caticon carousel-text-color">
                            <span class="post-category text-white bg-secondary mb-3">
                              {{ political_blog_category.name }}
                            </span>
                          </a>
                        {% endfor %}
                        <h5>
                          <a href="/{{LANGUAGE_CODE}}/{{politics_blog_language.blog.primary_category.slug}}/{{politics_blog_language.blog.slug}}" class="title carousel-text-color">
                            {{politics_blog_language.title}}
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#politicsCategoryCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#politicsCategoryCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
              <div class="col-12">
                <!-- <h2>Politics</h2> -->
                <h3 class="category-heading mb-2">
                  <i class="category-cation">{{ economy_category_language.name.0 }}</i>
                  <span class="lifestyle-span"></span>
                  {{ economy_category_language.name }}
                </h3>
              </div>
            </div>
            <div id="economyCategoryCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for economy_blog_language in economy_category_blog_languages %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active">
                  {% endif %}
                  {% if forloop.counter > 1 %}
                  <div class="carousel-item ">
                  {% endif %}
                    <img class="d-block w-100 h-270" src="{{economy_blog_language.blog.hero_image.url}}" alt="{{ economy_blog_language.blog.hero_image.alt_tag }}">
                    <div class="post-content caro image-text">
                      <div class="entry-title">
                        {% for economic_blog_category in economy_blog_language.present_category_language.all %}
                          <a href="/{{LANGUAGE_CODE}}/{{economic_blog_category.category.slug}}" class="caticon carousel-text-color">
                            <span class="post-category text-white bg-secondary mb-3">
                              {{ economic_blog_category.name }}
                            </span>
                          </a>
                        {% endfor %}
                        <h5>
                          <a href="/{{LANGUAGE_CODE}}/{{economy_blog_language.blog.primary_category.slug}}/{{economy_blog_language.blog.slug}}" class="title carousel-text-color">
                            {{economy_blog_language.title}}
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#economyCategoryCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#economyCategoryCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
                <div class="col-12">
                  <!-- <h2>Politics</h2> -->
                  <h3 class="category-heading mb-2">
                    <i class="category-cation">{{ sports_category_language.name.0 }}</i>
                    <span class="lifestyle-span"></span>
                    {{ sports_category_language.name }}
                  </h3>
                </div>
              </div>
              <div id="sportsCategoryCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for sports_blog_language in sports_category_blog_languages %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                    {% endif %}
                    {% if forloop.counter > 1 %}
                    <div class="carousel-item ">
                    {% endif %}
                      <img class="d-block w-100 h-270" src="{{sports_blog_language.blog.hero_image.url}}" alt="{{ sports_blog_language.blog.hero_image.alt_tag }}">
                      <div class="post-content caro image-text">
                        <div class="entry-title">
                          {% for sports_blog_category in sports_blog_language.present_category_language.all %}
                            <a href="/{{LANGUAGE_CODE}}/{{sports_blog_category.category.slug}}" class="caticon carousel-text-color">
                              <span class="post-category text-white bg-secondary mb-3">
                                {{ sports_blog_category.name }}
                              </span>
                            </a>
                          {% endfor %}
                          <h5>
                            <a href="/{{LANGUAGE_CODE}}/{{sports_blog_language.blog.primary_category.slug}}/{{sports_blog_language.blog.slug}}" class="title carousel-text-color">
                              {{sports_blog_language.title}}
                            </a>
                          </h5>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#sportsCategoryCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#sportsCategoryCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Highlighted, Don't Miss -->
    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch retro-layout-2">
          <span class="anchor-padding" id="highlighted_posts"></span>
          <div class="col-md-4 col-sm-12 col-xs-12" >
            <div class="row mb-3">
              <div class="col-12">
                <!-- <h2>Highlighted</h2> -->
                <h3 class="category-heading mb-2">
                  <i class="category-cation">H</i>
                  <span class="lifestyle-span"></span>
                  {% trans "Highlighted" as home_page_title_4 %}
                  {{ home_page_title_4 }}
                </h3>
              </div>
            </div>
            {% for highlighted_blog_language in highlighted_blog_languages %}
              <a href="/{{LANGUAGE_CODE}}/{{highlighted_blog_language.blog.primary_category.slug}}/{{highlighted_blog_language.blog.slug}}" 
                  class="h-entry mb-30 v-height-2 gradient" 
                  alt="{{ highlighted_blog_language.blog.hero_image.alt_tag }}" 
                  style="background-image: url({{highlighted_blog_language.blog.hero_image.url}});">
                <div class="text image-text">
                  <div class="post-categories mb-2">
                      {% for highlighted_blog_category in highlighted_blog_language.present_category_language.all %}
                        <span class="post-category bg-info">{{ highlighted_blog_category.name }}</span>
                      {% endfor %}
                  </div>
                  <h2>{{ highlighted_blog_language.title }}</h2>
                </div>
              </a>
            {% endfor %}
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12">
            <span class="anchor-padding" id="dont_miss_posts"></span>
            <div class="row mb-3" >
              <div class="col-12">
                <!-- <h2>Don't Miss</h2> -->
                <h3 class="category-heading mb-2" >
                  <i class="category-cation">D</i>
                  <span class="lifestyle-span"></span>
                  {% trans "Don't Miss" as home_page_title_5 %}
                  {{ home_page_title_5 }}
                </h3>
              </div>
            </div>
            {% for dmiss_blog_language in dmiss_blog_languages %}
              <a href="/{{LANGUAGE_CODE}}/{{dmiss_blog_language.blog.primary_category.slug}}/{{dmiss_blog_language.blog.slug}}"  
                  class="h-entry mb-30 v-height-2 gradient" 
                  alt="{{ dmiss_blog_language.blog.hero_image.alt_tag }}" 
                  style="background-image: url({{dmiss_blog_language.blog.hero_image.url}});">
                <div class="text image-text">
                  <div class="post-categories mb-2">
                      {% for dmiss_blog_category in dmiss_blog_language.present_category_language.all %}
                        <span class="post-category bg-info">{{ dmiss_blog_category.name }}</span>
                      {% endfor %}
                  </div>
                  <h2>{{ dmiss_blog_language.title }}</h2>
                </div>
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <!-- Sexual wellness, Entertainment, Health carousel -->
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
              <div class="col-12">
                <!-- <h2>Politics</h2> -->
                <h3 class="category-heading mb-2">
                  <!-- <i class="category-cation">{{ sexual_wellness_category_language.name.0 }}</i> -->
                  <i class="category-cation">West Bengal</i>
                  <span class="lifestyle-span"></span>
                  <!-- {{ sexual_wellness_category_language.name }} -->
                  West Bengal
                </h3>
              </div>
            </div>
            <div id="sexualwellnessCategoryCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for sexual_blog_language in sexual_wellness_category_blog_languages %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active">
                  {% endif %}
                  {% if forloop.counter > 1 %}
                  <div class="carousel-item ">
                  {% endif %}
                    <img class="d-block w-100 h-270" src="{{sexual_blog_language.blog.hero_image.url}}" alt="{{ sexual_blog_language.blog.hero_image.alt_tag }}">
                    <div class="post-content caro image-text">
                      <div class="entry-title">
                        {% for sexual_blog_category in sexual_blog_language.present_category_language.all %}
                          <a href="/{{LANGUAGE_CODE}}/{{sexual_blog_category.category.slug}}" class="caticon carousel-text-color">
                            <span class="post-category text-white bg-secondary mb-3">
                              {{ sexual_blog_category.name }}
                            </span>
                          </a>
                        {% endfor %}
                        <h5>
                          <a href="/{{LANGUAGE_CODE}}/{{sexual_blog_language.blog.primary_category.slug}}/{{sexual_blog_language.blog.slug}}" class="title carousel-text-color">
                            {{sexual_blog_language.title}}
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#sexualwellnessCategoryCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#sexualwellnessCategoryCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
              <div class="col-12">
                <!-- <h2>Politics</h2> -->
                <h3 class="category-heading mb-2">
                  <i class="category-cation">{{ entertainment_category_language.name.0 }}</i>
                  <span class="lifestyle-span"></span>
                  {{ entertainment_category_language.name }}
                </h3>
              </div>
            </div>
            <div id="entertainmentCategoryCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for entertainment_blog_language in entertainment_category_blog_languages %}
                  {% if forloop.counter == 1 %}
                  <div class="carousel-item active">
                  {% endif %}
                  {% if forloop.counter > 1 %}
                  <div class="carousel-item ">
                  {% endif %}
                    <img class="d-block w-100 h-270" src="{{entertainment_blog_language.blog.hero_image.url}}" alt="{{ entertainment_blog_language.blog.hero_image.alt_tag }}">
                    <div class="post-content caro image-text">
                      <div class="entry-title">
                        {% for entertainment_blog_category in entertainment_blog_language.present_category_language.all %}
                          <a href="/{{LANGUAGE_CODE}}/{{entertainment_blog_category.category.slug}}" class="caticon carousel-text-color">
                            <span class="post-category text-white bg-secondary mb-3">
                              {{ entertainment_blog_category.name }}
                            </span>
                          </a>
                        {% endfor %}
                        <h5>
                          <a href="/{{LANGUAGE_CODE}}/{{entertainment_blog_language.blog.primary_category.slug}}/{{entertainment_blog_language.blog.slug}}" class="title carousel-text-color">
                            {{entertainment_blog_language.title}}
                          </a>
                        </h5>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#entertainmentCategoryCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#entertainmentCategoryCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 section-carousel">
            <div class="row mb-3">
                <div class="col-12">
                  <!-- <h2>Politics</h2> -->
                  <h3 class="category-heading mb-2">
                    <i class="category-cation">{{ health_category_language.name.0 }}</i>
                    <span class="lifestyle-span"></span>
                    {{ health_category_language.name }}
                  </h3>
                </div>
              </div>
              <div id="healthCategoryCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {% for health_blog_language in health_category_blog_languages %}
                    {% if forloop.counter == 1 %}
                    <div class="carousel-item active">
                    {% endif %}
                    {% if forloop.counter > 1 %}
                    <div class="carousel-item ">
                    {% endif %}
                      <img class="d-block w-100 h-270" src="{{health_blog_language.blog.hero_image.url}}" alt="{{ health_blog_language.blog.hero_image.alt_tag }}">
                      <div class="post-content caro image-text">
                        <div class="entry-title">
                          {% for health_blog_category in health_blog_language.present_category_language.all %}
                            <a href="/{{LANGUAGE_CODE}}/{{health_blog_category.category.slug}}" class="caticon carousel-text-color">
                              <span class="post-category text-white bg-secondary mb-3">
                                {{ health_blog_category.name }}
                              </span>
                            </a>
                          {% endfor %}
                          <h5>
                            <a href="/{{LANGUAGE_CODE}}/{{health_blog_language.blog.primary_category.slug}}/{{health_blog_language.blog.slug}}" class="title carousel-text-color">
                              {{health_blog_language.title}}
                            </a>
                          </h5>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#healthCategoryCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#healthCategoryCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TrikonIndia Specials -->
    <div class="site-section">
      <div class="container">
        <span class="anchor-padding" id="trikonindia_specials_posts"></span>
        <div class="row mb-3">
            <div class="col-12">
              {% trans "Specials" as home_page_title_3 %}
              <!-- <h2>{{constants.APP_NAME}} {{ home_page_title_3 }}</h2> -->
              <h3 class="category-heading mb-2">
                <i class="category-cation">TI</i>
                <span class="lifestyle-span"></span>
                {{constants.APP_NAME}} {{ home_page_title_3 }}
              </h3>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout">
          {% for special_blog_language in special_blog_languages %}
            {% if forloop.counter == 1 %}
              <div class="col-md-5 order-md-2">
                <a href="/{{LANGUAGE_CODE}}/{{special_blog_language.blog.primary_category.slug}}/{{special_blog_language.blog.slug}}/" 
                    class="hentry img-1 h-100 gradient" 
                    aria-label="{{special_blog_language.blog.thumbnail_image.alt_tag}}" 
                    title="{{special_blog_language.blog.thumbnail_image.title}}" 
                    alt="{{special_blog_language.blog.thumbnail_image.alt_tag}}"
                    style="background-image: url({{special_blog_language.blog.thumbnail_image.url}});">
                  {% for special_blog_category in special_blog_language.present_category_language.all %}
                    <span class="post-category text-white bg-danger">{{special_blog_category.name}}</span>
                  {% endfor %}
                  <div class="text image-text">
                    <h2>{{special_blog_language.title}}</h2>
                    <span>{{special_blog_language.created_at}}</span>
                  </div>
                </a>
              </div>
            {% endif %}

            {% if forloop.counter != 1 %}
              {% if forloop.counter == 2 %}
                <div class="col-md-7">
              {% endif %}
              {% if forloop.counter == 2 or forloop.counter == 4 %}
                <div class="two-col d-block d-md-flex mb-3">
              {% endif %}
                  <a href="/{{LANGUAGE_CODE}}/{{special_blog_language.blog.primary_category.slug}}/{{special_blog_language.blog.slug}}/" 
                      class="hentry v-height img-2 gradient mr-4" 
                      aria-label="{{special_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{special_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{special_blog_language.blog.thumbnail_image.alt_tag}}"
                      style="background-image: url({{special_blog_language.blog.thumbnail_image.url}});">
                    {% for special_blog_category in special_blog_language.present_category_language.all %}
                      <span class="post-category text-white bg-danger">{{special_blog_category.name}}</span>
                    {% endfor %}
                    <div class="text text-sm image-text">
                      <h2>{{special_blog_language.title}}</h2>
                      <span>{{special_blog_language.created_at}}</span>
                    </div>
                  </a>
                {% if forloop.counter == 3 or forloop.counter == 5 %}
                </div>  
                {% endif %}
              {% if forloop.counter == 5 %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="row mb-3">
              <div class="col-12">
                <h2>Trikon's Daily Choice</h2>
              </div>
            </div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>June 22nd, 2020</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>June 22nd, 2020</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>June 22nd, 2020</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 ">
          </div>
        </div>
      </div>
    </div> -->
    <div class="sharethis-inline-follow-buttons mb-3"></div>

    {% include 'footer.html' %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom bottom-nav-bar">
      <a href="#recent_posts" >Recent Posts</a>
      <a href="#highlighted_posts" >Highlighted</a>
      <a href="#dont_miss_posts" >Don't Miss</a>
      <a href="#trikonindia_specials_posts" >TrikonIndia Specials</a>
    </nav>

  </body>
</html>