{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  {% load django_bootstrap_breadcrumbs %}
  <body>
  
  <div class="site-wrap">

    {% include 'navbar.html' %}

    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url({% static background_image %});">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              {% for category_language in blog_language.present_category_language.all %}
                <a href="/{{LANGUAGE_CODE}}/{{category_language.category.slug}}/">
                  <span class="post-category text-white bg-success mb-3">{{category_language.name}}</span>
                <a/>
              {% endfor %}
              <h1 class="mb-4">{{blog_language.title}}</h1>
              <div class="post-meta align-items-center text-center">
                <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="https://trikonindia-assets.s3.amazonaws.com/media/trikonindia.png" alt="trikonindia.com" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By TrikonIndia</span>
                <span>&nbsp;-&nbsp; {{blog_language.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="site-section py-lg pb-2">
      <div class="container">
        {% block breadcrumbs %}
            {% breadcrumb "Home" "/" %}
            {% breadcrumb present_category_language 'category_view' present_category_language.category.slug %}
            {% breadcrumb "Article" 'article_view' blog_language.blog.slug %}
        {% endblock %}
        {% render_breadcrumbs %}
          
        <div class="row blog-entries element-animate mr-0">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="post-content-body post-content-override">
              {% autoescape off %}{{ blog_language.content }}{% endautoescape %}
            </div>
            <div class="pt-2">
              <div class="sharethis-inline-share-buttons mb-3"></div>
              <p>
                  {% trans "Category" as post_page_helper_1 %}
                  {{post_page_helper_1}}: 
                    {% for category_language in blog_language.present_category_language.all %}
                      <a href="/{{LANGUAGE_CODE}}/{{category_language.category.slug}}/">{{category_language.name}}</a> 
                    {% endfor %}
                &nbsp; &nbsp;
                  {% trans "Tags" as post_page_helper_2 %}
                  {{post_page_helper_2}}:
                    {% for tag in blog_language.tags %}
                      <span class='font-weight-bold'>#{{tag.name}}&nbsp</span>
                    {% endfor %}
              </p>
            </div>
            {% include 'comments.html' %}
          </div>
          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="https://trikonindia-assets.s3.amazonaws.com/media/trikonindia.png" alt="trikonindia.com" class="img-fluid mb-5">
                <div class="bio-body">
                  <h2>TrikonIndia</h2>
                  <p class="mb-4">TrikonIndia delivers the most authentic news after verifying the sources and delivers the best articles possible.</p>
                  <!-- <p><a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a></p> -->
                  <!-- <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                  </p> -->
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->  
            <div class="sidebar-box">
              {% trans "Popular Posts" as post_page_helper_3 %}
              <h3 class="heading">{{post_page_helper_3}}</h3>
              <div class="post-entry-sidebar">
                <ul>
                  {% for popular_blog_language in popular_blogs_langugaes %}
                    <li>
                      <a href="/{{LANGUAGE_CODE}}/{{popular_blog_language.blog.primary_category.slug}}/{{popular_blog_language.blog.slug}}/">
                        <img 
                          src="{{popular_blog_language.blog.thumbnail_image.url}}" 
                          aria-label="{{popular_blog_language.blog.thumbnail_image.alt_tag}}" 
                          alt="{{popular_blog_language.blog.thumbnail_image.alt_tag}}"
                          title="{{popular_blog_language.blog.thumbnail_image.title}}"  
                          class="mr-4 article-page-image">
                        <div class="text article-page-popular-text">
                          <span>{{popular_blog_language.title}}</span>
                          <div class="post-meta">
                            <span class="mr-2">{{popular_blog_language.created_at}}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              {% trans "Category" as post_page_helper_4 %}
              <h3 class="heading">{{post_page_helper_4}}</h3>
              <ul class="categories">
                {% for category_language in all_categories_languages %}
                  <li><a href="/{{LANGUAGE_CODE}}/{{category_language.category.slug}}/">{{category_language.name}} <span>{{category_language.category.blogs.count}}</span></a></li>
                {% endfor %}
              </ul>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              {% trans "Tags" as post_page_helper_5 %}
              <h3 class="heading">{{post_page_helper_5}}</h3>
              <ul class="tags">
                {% for tag in tags %}
                  <li><span class="p-2 badge badge-secondary">#{{tag.name}}</span></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- END sidebar -->
        </div>
      </div>
    </section>
    <!-- <div class="sharethis-inline-follow-buttons mb-3"></div> -->
    <div class="site-section bg-light">
      <div class="container">

        <div class="row mb-5">
          <div class="col-12">
            <h2>More Related Posts</h2>
          </div>
        </div>

        <div class="row align-items-stretch retro-layout">
          
          <div class="col-md-5 order-md-2">
            <a href="/{{LANGUAGE_CODE}}/{{related_blogs_languages.0.blog.primary_category.slug}}/{{related_blogs_languages.0.blog.slug}}/" 
                class="hentry img-1 h-100 gradient" 
                aria-label="{{related_blogs_languages.0.blog.thumbnail_image.alt_tag}}" 
                alt="{{related_blogs_languages.0.blog.thumbnail_image.alt_tag}}"
                title="{{related_blogs_languages.0.blog.thumbnail_image.title}}"  
                style="background-image: url({{related_blogs_languages.0.blog.thumbnail_image.url}});">
              {% for related_blog_category_language in related_blogs_languages.0.present_category_language.all %}
                <span class="post-category text-white bg-danger">{{related_blog_category_language.name}}</span>
              {% endfor %}
              <div class="text">
                <h2>{{related_blogs_languages.0.title}}</h2>
                <span>{{related_blogs_languages.0.created_at}}</span>
              </div>
            </a>
          </div>

          <div class="col-md-7">
            
            <a href="/{{LANGUAGE_CODE}}/{{related_blogs_languages.1.blog.primary_category.slug}}/{{related_blogs_languages.1.blog.slug}}/" 
                class="hentry img-2 v-height mb30 gradient" 
                aria-label="{{related_blogs_languages.1.blog.thumbnail_image.alt_tag}}" 
                alt="{{related_blogs_languages.1.blog.thumbnail_image.alt_tag}}"
                title="{{related_blogs_languages.1.blog.thumbnail_image.title}}"  
                style="background-image: url({{related_blogs_languages.1.blog.thumbnail_image.url}});">
              {% for related_blog_category_language in related_blogs_languages.1.present_category_language.all %}
                <span class="post-category text-white bg-danger">{{related_blog_category_language.name}}</span>
              {% endfor %}
              <div class="text text-sm">
                <h2>{{related_blogs_languages.1.title}}</h2>
                <span>{{related_blogs_languages.1.created_at}}</span>
              </div>
            </a>
            
            <div class="two-col d-block d-md-flex">
              <a href="/{{LANGUAGE_CODE}}/{{related_blogs_languages.2.blog.primary_category.slug}}/{{related_blogs_languages.2.blog.slug}}/" 
                  class="hentry v-height img-2 gradient" 
                  aria-label="{{related_blogs_languages.2.blog.thumbnail_image.alt_tag}}" 
                  alt="{{related_blogs_languages.2.blog.thumbnail_image.alt_tag}}"
                  title="{{related_blogs_languages.2.blog.thumbnail_image.title}}"  
                  style="background-image: url({{related_blogs_languages.2.blog.thumbnail_image.url}});">
                {% for related_blog_category_language in related_blogs_languages.2.present_category_language.all %}
                  <span class="post-category text-white bg-danger">{{related_blog_category_language.name}}</span>
                {% endfor %}
                <div class="text text-sm">
                  <h2>{{related_blogs_languages.2.title}}</h2>
                  <span>{{related_blogs_languages.2.created_at}}</span>
                </div>
              </a>
              <a href="/{{LANGUAGE_CODE}}/{{related_blogs_languages.3.blog.primary_category.slug}}/{{related_blogs_languages.3.blog.slug}}/" 
                  class="hentry v-height img-2 ml-auto gradient" 
                  aria-label="{{related_blogs_languages.3.blog.thumbnail_image.alt_tag}}" 
                  alt="{{related_blogs_languages.3.blog.thumbnail_image.alt_tag}}"
                  title="{{related_blogs_languages.3.blog.thumbnail_image.title}}"  
                  style="background-image: url({{related_blogs_languages.3.blog.thumbnail_image.url}});">
                {% for related_blog_category_language in related_blogs_languages.3.present_category_language.all %}
                  <span class="post-category text-white bg-danger">{{related_blog_category_language.name}}</span>
                {% endfor %}
                <div class="text text-sm">
                  <h2>{{related_blogs_languages.3.title}}</h2>
                  <span>{{related_blogs_languages.3.created_at}}</span>
                </div>
              </a>
            </div>  
            
          </div>
        </div>

      </div>
    </div>

    {% include 'footer.html' %}
    
  </body>
</html>