<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  {% load static %}
  <body>
  
  <div class="site-wrap">

    {% include 'navbar.html' %}

    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url({% static 'images/img_2.jpg' %});">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              {% for category in blog.category.all %}
                <span class="post-category text-white bg-success mb-3">{{category.name}}</span>
              {% endfor %}
              <h1 class="mb-4">{{blog.title}}</h1>
              <div class="post-meta align-items-center text-center">
                <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                <span class="d-inline-block mt-1">By Carrol Atkinson</span>
                <span>&nbsp;-&nbsp; {{blog.created_at}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="site-section py-lg">
      <div class="container">
        
        <div class="row blog-entries element-animate">

          <div class="col-md-12 col-lg-8 main-content">
            
            <div class="post-content-body">
              {% autoescape off %}{{ blog.content }}{% endautoescape %}
            </div>

              
            <div class="pt-5">
              <p>Categories:  <a href="#">Food</a>, <a href="#">Travel</a>  Tags: <a href="#">#manila</a>, <a href="#">#asia</a></p>
            </div>

            {% include 'comments.html' %}

          </div>

          <!-- END main-content -->

          <div class="col-md-12 col-lg-4 sidebar">
            <div class="sidebar-box search-form-wrap">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="{% static 'images/person_2.jpg' %}" alt="Image Placeholder" class="img-fluid mb-5">
                <div class="bio-body">
                  <h2>{{blog.creator.auth_user.username}}</h2>
                  <p class="mb-4">{{blog.creator.bio}}</p>
                  <!-- <p><a href="#" class="btn btn-primary btn-sm rounded px-4 py-2">Read my bio</a></p> -->
                  <!-- <p class="social">
                    <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                    <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                  </p> -->
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->  
            <div class="sidebar-box">
              <h3 class="heading">Popular Posts</h3>
              <div class="post-entry-sidebar">
                <ul>
                  {% for popular_blog in popular_blogs %}
                    <li>
                      <a href="/topic/{{popular_blog.slug}}/">
                        <img src="{{popular_blog.thumbnail_image}}" alt="Image placeholder" class="mr-4">
                        <div class="text">
                          <h4>{{popular_blog.title}}</h4>
                          <div class="post-meta">
                            <span class="mr-2">{{popular_blog.created_at}}</span>
                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Categories</h3>
              <ul class="categories">
                {% for category in all_categories %}
                  <li><a href="/{{category.slug}}">{{category.name}} <span>{{category.blogs.count}}</span></a></li>
                {% endfor %}
              </ul>
            </div>
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Tags</h3>
              <ul class="tags">
                {% for tag in tags %}
                  <li><a href="#">{{tag.name}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- END sidebar -->

        </div>
      </div>
    </section>

    <div class="site-section bg-light">
      <div class="container">

        <div class="row mb-5">
          <div class="col-12">
            <h2>More Related Posts</h2>
          </div>
        </div>

        <div class="row align-items-stretch retro-layout">
          
          <div class="col-md-5 order-md-2">
            <a href="/topic/{{related_blogs.0.slug}}/" class="hentry img-1 h-100 gradient" style="background-image: url({{related_blogs.0.thumbnail_image}});">
              {% for related_blog_category in related_blogs.0.category.all %}
                <span class="post-category text-white bg-danger">{{related_blog_category.name}}</span>
              {% endfor %}
              <div class="text">
                <h2>{{related_blogs.0.title}}</h2>
                <span>{{related_blogs.0.created_at}}</span>
              </div>
            </a>
          </div>

          <div class="col-md-7">
            
            <a href="/topic/{{related_blogs.1.slug}}/" class="hentry img-2 v-height mb30 gradient" style="background-image: url({{related_blogs.1.thumbnail_image}});">
              {% for related_blog_category in related_blogs.1.category.all %}
                <span class="post-category text-white bg-danger">{{related_blog_category.name}}</span>
              {% endfor %}
              <div class="text text-sm">
                <h2>{{related_blogs.1.title}}</h2>
                <span>{{related_blogs.1.created_at}}</span>
              </div>
            </a>
            
            <div class="two-col d-block d-md-flex">
              <a href="/topic/{{related_blogs.2.slug}}/" class="hentry v-height img-2 gradient" style="background-image: url({{related_blogs.2.thumbnail_image}});">
                {% for related_blog_category in related_blogs.2.category.all %}
                  <span class="post-category text-white bg-danger">{{related_blog_category.name}}</span>
                {% endfor %}
                <div class="text text-sm">
                  <h2>{{related_blogs.2.title}}</h2>
                  <span>{{related_blogs.2.created_at}}</span>
                </div>
              </a>
              <a href="/topic/{{related_blogs.3.slug}}/" class="hentry v-height img-2 ml-auto gradient" style="background-image: url({{related_blogs.3.thumbnail_image}});">
                {% for related_blog_category in related_blogs.3.category.all %}
                  <span class="post-category text-white bg-danger">{{related_blog_category.name}}</span>
                {% endfor %}
                <div class="text text-sm">
                  <h2>{{related_blogs.3.title}}</h2>
                  <span>{{related_blogs.3.created_at}}</span>
                </div>
              </a>
            </div>  
            
          </div>
        </div>

      </div>
    </div>

    {% include 'footer.html' %}
    
  </body>
</html>