{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  {% load django_bootstrap_breadcrumbs %}
  <body>
  
  <div class="site-wrap">
    {% include 'navbar.html' %}
    
    <div class="container">
        {% include 'search.html' %}
        {% trans "Search Results" as search_page_title %}
      <div class="py-3 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="category-heading">
                <i class="category-cation">{{search_page_title.0}}</i>
                <span class="lifestyle-span"></span>
                {{search_page_title}}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-white">
      <div class="container">
        {% block breadcrumbs %}
            {% breadcrumb "Home" 'home_page_view' %}
            {% breadcrumb "Search" 'search_view' %}
        {% endblock %}
        {% render_breadcrumbs %}
        <div class="row">
          {% if blogs %}
            {% for blog_language in blogs %}
              <div class="col-lg-4 mb-4">
                <div class="entry2">
                  <a href="/{{LANGUAGE_CODE}}/{{blog_language.blog.primary_category.slug}}/{{blog_language.blog.slug}}/" class="category-blog-image">
                    <img 
                      src="{{blog_language.blog.thumbnail_image.url}}" 
                      aria-label="{{blog_language.blog.thumbnail_image.alt_tag}}" 
                      alt="{{blog_language.blog.thumbnail_image.alt_tag}}"
                      title="{{blog_language.blog.thumbnail_image.title}}"  
                      class="img-fluid rounded">
                  </a>
                  <div class="excerpt category-blog-desc">
                  {% for blog_category in blog_language.present_category_language %}
                    <span class="post-category text-white bg-secondary mb-3">{{blog_category.name}}</span>
                  {% endfor %}

                  <h2 class="overflow-hiddens"><a href="/{{LANGUAGE_CODE}}/{{category_language.slug}}/{{blog_language.blog.slug}}/">{{blog_language.title}}</a></h2>
                  <div class="post-meta align-items-center text-left clearfix">
                    <figure class="author-figure mb-0 mr-3 float-left"><img src="https://trikonindia-assets.s3.amazonaws.com/media/trikonindia.png" alt="trikonindia.com" class="img-fluid"></figure>
                    <span class="d-inline-block mt-1">By TrikonIndia</span>
                    <span>&nbsp;-&nbsp; {{blog_language.created_at}}</span>
                  </div>
                  
                    <p class="overflow-hidden height-80">{{blog_language.description}}...</p>
                    {% trans "Read More" as category_page_blog_helper %}
                    <p><a href="/{{LANGUAGE_CODE}}/{{blog_language.blog.primary_category.slug}}/{{blog_language.blog.slug}}/">{{category_page_blog_helper}}</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% else %}
                <div class="col-lg-4 mb-4">
                    {% trans "No Results found! Please try refining your search" as search_page_title_2 %}
                    {{ search_page_title_2 }}
                </div>
          {% endif %}
        </div>
    </div>
  </div>

  {% include 'footer.html' %}
    
  </body>
</html>