{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  {% load django_bootstrap_breadcrumbs %}
  <body>
  
  <div class="site-wrap">

    {% include 'navbar.html' %}
    
    
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url({% static 'images/img_4.jpg' %});">
      <div class="container">
        <div class="row same-height justify-content-center">
          <div class="col-md-12 col-lg-10">
            <div class="post-entry text-center">
              {% trans "About Us" as about_us_page_1 %}
              {% trans "We are soon to be the pioneer in India's hyperlocal news industry. Incisive and creative, TrikonIndia targets the global Indian with news that is credible, true and fast." as about_us_page_2 %}
              <h1 class="">{{ about_us_page_1 }}</h1>
              <p class="lead mb-4 text-white">{{about_us_page_2}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="site-section bg-light">
      <div class="container">
        {% trans "About Us" as about_us_page_3 %}
        {% trans "Home" as about_us_page_4 %}
        {% block breadcrumbs %}
            {% breadcrumb "Home" "/" %}
            {% breadcrumb "About Us" 'about_us_view' %}
        {% endblock %}
        {% render_breadcrumbs %}
        <div class="row">
          <div class="col-md-4 order-md-4">
            <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-7 mr-auto order-md-1">
            <h2></h2>
            {% trans "OUR MISSION" as about_us_page_5 %}
            {% trans "To be accurate in our reporting, and transparent and thorough in our analysis." as about_us_page_6 %}
            {% trans "People first approach in everything" as about_us_page_7 %}
            {% trans "Always listening and taking feedbacks from our readers" as about_us_page_8 %}
            {% trans "Allowing diversity of voices" as about_us_page_9 %}
            {% trans "100% Transparency for public interest" as about_us_page_10 %}
            <p><strong>{{ about_us_page_5 }}</strong> - {{ about_us_page_6 }}</p>
            <ul class="ul-check list-unstyled success">
              <li>{{ about_us_page_7 }}</li>
              <li>{{ about_us_page_8 }}</li>
              <li>{{ about_us_page_9 }}</li>
              <li>{{ about_us_page_10 }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-5 text-center">
            {% trans "OUR SELECTION" as about_us_page_11 %}
            {% trans "We bring to you the most open and most transparent articles there can be with a wide range of categories" as about_us_page_12 %}
            <h2>{{ about_us_page_11 }}</h2>
            <p>{{ about_us_page_12 }}</p>
          </div>
        </div>
        <div class="row">
            {% if categories_languages %}
                {% for category_language in categories_languages %}
                    <div class="col-md-6 col-lg-4 mb-5 text-center">
                        <img src="{{category_language.category.image.url}}" alt="Image" class="img-fluid image-about-us rounded-circle mb-4">
                        <h2 class="mb-3 h5">{{category_language.name}}</h2>
                        <p>{{category_language.category_description}}</p>
                        <p class="mt-5">
                        <a href="/{{ LANGUAGE_CODE }}/{{ category_language.category.slug }}" target="_blank" class="p-3"><span class="icon-plane"></span></a>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
    
    <!-- <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto">
            <h2>Learn From Us</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea voluptate odit corrupti vitae cupiditate explicabo, soluta quibusdam necessitatibus, provident reprehenderit, dolorem saepe non eligendi possimus autem repellendus nesciunt, est deleniti libero recusandae officiis. Voluptatibus quisquam voluptatum expedita recusandae architecto quibusdam.</p>
            
            <ul class="ul-check list-unstyled success">
              <li>Onsectetur adipisicing elit</li>
              <li>Dolorem saepe non eligendi possimus</li>
              <li>Voluptate odit corrupti vitae</li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    
    {% include 'footer.html' %}
  </body>
</html>