{% load static %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160832830-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    // gtag('config', 'UA-160832830-1');
    </script>
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
        window['_fs_org'] = "{{constants.FULLSTORY_ORG}}";
        window['_fs_namespace'] = "{{constants.FULLSTORY_NS}}";
        (function(m,n,e,t,l,o,g,y){
            if (e in m) {if(m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');} return;}
            g=m[e]=function(a,b,s){g.q?g.q.push([a,b,s]):g._api(a,b,s);};g.q=[];
            o=n.createElement(t);o.async=1;o.crossOrigin='anonymous';o.src='https://'+_fs_script;
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v,s){g(l,{uid:i},s);if(v)g(l,v,s)};g.setUserVars=function(v,s){g(l,v,s)};g.event=function(i,v,s){g('event',{n:i,p:v},s)};
            g.anonymize=function(){g.identify(!!0)};
            g.shutdown=function(){g("rec",!1)};g.restart=function(){g("rec",!0)};
            g.log = function(a,b){g("log",[a,b])};
            g.consent=function(a){g("consent",!arguments.length||a)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(){};
            g._w={};y='XMLHttpRequest';g._w[y]=m[y];y='fetch';g._w[y]=m[y];
            if(m[y])m[y]=function(){return g._w[y].apply(this,arguments)};
            g._v="1.2.0";
        })(window,document,window['_fs_namespace'],'script','user');
    </script>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/trikonindia.png' %}"/>

    <title>{{meta.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Canonical Tag -->
    <link rel="canonical" href={{canonical_link}} />

    <!-- Custom Meta Tags -->
    <meta name="description" content="{{meta.meta_description}}">
    <meta name="google-site-verification" content="{{meta.google_site_verification_code}}"/>
    <meta name="keywords" content="{{meta.search_keywords}}">

    <!-- Alternate Language Tags -->
    {% for alternate_languag in alternate_language %}
        <link rel="alternate" hreflang="{{alternate_languag.code}}" href="{{alternate_languag.link}}" />
    {% endfor %}
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <!-- Open Graph Meta Tags -->
    {% for open_graph_meta_tag in social_meta_tags.open_graph_meta_tags %}
        <meta property="{{open_graph_meta_tag.attribute_value}}" content="{{open_graph_meta_tag.content}}">
    {% endfor %}


    <!-- Open Twitter Custom Meta Tags -->
    {% for custom_twitter_meta_tag in social_meta_tags.custom_twitter_meta_tags %}
        <meta name="{{custom_twitter_meta_tag.attribute_value}}" content="{{custom_twitter_meta_tag.content}}">
    {% endfor %}

    <!-- Twitter Site -->
    <meta name="twitter:site" content="{{social_meta_tags.twitter_site}}">

    <!-- FB App ID -->
    <meta property="fb:app_id" content="{{social_meta_tags.fb_app_id}}">


    {% load static %}
    {% csrf_token %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}"> -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>