{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
  {% include 'header.html' %}
  {% load static %}
  <body>
  
  <div class="site-wrap">
    {% include 'navbar.html' %}
    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-3">
            <div class="col-12">
              {% trans "Trending Posts" as home_page_title_1 %}
              <h2>{{ home_page_title_1 }}</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout-2">
          {% if trending_blog_languages %}
            {% for trending_blog_language in trending_blog_languages %}
              {% if forloop.counter != 3 %}
                {% if forloop.counter == 1 or forloop.counter == 4 %}
                  <div class="col-md-4">
                {% endif %}
                  <a href="/{{LANGUAGE_CODE}}/{{trending_blog_language.blog.primary_category.slug}}/{{trending_blog_language.blog.slug}}/" 
                      class="h-entry mb-30 v-height gradient" 
                      aria-label="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{trending_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      style="background-image: url({{trending_blog_language.blog.thumbnail_image.url}});">

                    <div class="text">
                      <div class="post-categories mb-2">
                        {% for trending_blog_category in trending_blog_language.present_category_language.all %}
                          <span class="post-category bg-info">{{trending_blog_category.name}}</span>
                        {% endfor %}
                      </div>
                      <h2>{{trending_blog_language.title}}</h2>
                      <!-- <span class="date">{{trending_blog.created_at}}</span> -->
                    </div>
                  </a>
                {% if forloop.counter == 2 or forloop.counter == 5 %}
                  </div>
                {% endif %}
              {% endif %}
              {% if forloop.counter == 3 %}
                <div class="col-md-4">
                  <a href="/{{LANGUAGE_CODE}}/{{trending_blog_language.blog.primary_category.slug}}/{{trending_blog_language.blog.slug}}/" 
                      class="h-entry img-5 h-100 gradient" 
                      aria-label="{{trending_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{trending_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{trending_blog_language.blog.thumbnail_image.alt_tag}}"
                      style="background-image: url({{trending_blog_language.blog.thumbnail_image.url}});">
                    
                    <div class="text">
                        <div class="post-categories mb-2">
                          {% for trending_blog_category in trending_blog_language.present_category_language.all %}
                            <span class="post-category bg-danger">{{trending_blog_category.name}}</span>
                          {% endfor %}
                        </div>
                      <h2>{{trending_blog_language.title}}</h2>
                      <!-- <span class="date">{{trending_blog.created_at}}</span> -->
                    </div>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-3">
          <div class="col-12">
            {% trans "Recent Posts" as home_page_title_2 %}
            <h2>{{ home_page_title_2 }}</h2>
          </div>
        </div>
        <div class="row">
          {% for recent_blog_language in recent_blog_languages %}
            <div class="col-lg-4 mb-4">
              <div class="entry2">
                <a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">
                  <img 
                      src="{{recent_blog_language.blog.thumbnail_image.url}}" 
                      aria-label="{{recent_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{recent_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{recent_blog_language.blog.thumbnail_image.alt_tag}}"
                      class="img-fluid rounded">
                </a>
                <div class="excerpt">
                {% for recent_blog_category in recent_blog_language.present_category_language.all %}
                  <span class="post-category text-white bg-secondary mb-3">{{recent_blog_category.name}}</span>
                {% endfor %}

                <h2 class="overflow-hidden height-150"><a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">{{recent_blog_language.title}}</a></h2>
                <div class="post-meta align-items-center text-left clearfix">
                  <figure class="author-figure mb-0 mr-3 float-left"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
                  <span class="d-inline-block mt-1">By <a href="#">{{recent_blog_language.creator.auth_user.username}}</a></span>
                  <span>&nbsp;-&nbsp;{{recent_blog_language.created_at}}</span>
                </div>
                
                  <p class="overflow-hidden height-200">{{recent_blog_language.description}}</p>
                  {% trans "Read More" as index_page_blog_helper %}
                  <p><a href="/{{LANGUAGE_CODE}}/{{recent_blog_language.blog.primary_category.slug}}/{{recent_blog_language.blog.slug}}/">{{index_page_blog_helper}}</a></p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- <div class="row text-center pt-5 border-top">
          <div class="col-md-12">
            <div class="custom-pagination">
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <span>...</span>
              <a href="#">15</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-3">
            <div class="col-12">
              {% trans "Specials" as home_page_title_3 %}
              <h2>{{constants.APP_NAME}} {{ home_page_title_3 }}</h2>
            </div>
        </div>
        <div class="row align-items-stretch retro-layout">
          {% for special_blog_language in special_blog_languages %}
            {% if forloop.counter == 1 %}
              <div class="col-md-5 order-md-2">
                <a href="/{{LANGUAGE_CODE}}/{{special_blog_language.blog.primary_category.slug}}/{{special_blog_language.blog.slug}}/" 
                    class="hentry img-1 h-100 gradient" 
                    aria-label="{{special_blog_language.blog.thumbnail_image.alt_tag}}" 
                    title="{{special_blog_language.blog.thumbnail_image.title}}" 
                    alt="{{special_blog_language.blog.thumbnail_image.alt_tag}}"
                    style="background-image: url({{special_blog_language.blog.thumbnail_image.url}});">
                  {% for special_blog_category in special_blog_language.present_category_language.all %}
                    <span class="post-category text-white bg-danger">{{special_blog_category.name}}</span>
                  {% endfor %}
                  <div class="text">
                    <h2>{{special_blog_language.title}}</h2>
                    <span>{{special_blog_language.created_at}}</span>
                  </div>
                </a>
              </div>
            {% endif %}

            {% if forloop.counter != 1 %}
              {% if forloop.counter == 2 %}
                <div class="col-md-7">
              {% endif %}
              {% if forloop.counter == 2 or forloop.counter == 4 %}
                <div class="two-col d-block d-md-flex mb-3">
              {% endif %}
                  <a href="/{{LANGUAGE_CODE}}/{{special_blog_language.blog.primary_category.slug}}/{{special_blog_language.blog.slug}}/" 
                      class="hentry v-height img-2 gradient mr-4" 
                      aria-label="{{special_blog_language.blog.thumbnail_image.alt_tag}}" 
                      title="{{special_blog_language.blog.thumbnail_image.title}}" 
                      alt="{{special_blog_language.blog.thumbnail_image.alt_tag}}"
                      style="background-image: url({{special_blog_language.blog.thumbnail_image.url}});">
                    {% for special_blog_category in special_blog_language.present_category_language.all %}
                      <span class="post-category text-white bg-danger">{{special_blog_category.name}}</span>
                    {% endfor %}
                    <div class="text text-sm">
                      <h2>{{special_blog_language.title}}</h2>
                      <span>{{special_blog_language.created_at}}</span>
                    </div>
                  </a>
                {% if forloop.counter == 3 or forloop.counter == 5 %}
                </div>  
                {% endif %}
              {% if forloop.counter == 5 %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="sharethis-inline-follow-buttons mb-3"></div>

    {% include 'footer.html' %}

  </body>
</html>